@import 'all';

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
}

.set-retro-category-time {
  border: 1px solid #aaa;
  margin: 2rem;
  padding: 2rem;

  > h3 {
    margin: 0;
  }
}

.retro-owner-block {
  background-color: $color-primary-alt-lightest;
  border: 1px solid $color-primary-alt-darkest;
  border-radius: 0.5em;
  padding: 1em;

  .btn {
    text-align: right;
  }
}

@import './happiness-meter';

.retro-countdown-timer {
  text-align: center;
  font-size: 10em;
  font-weight: bold;
}

.enable-retro-happiness-prompt .happiness-meter {
  border: 1px solid black;
  padding: 1em;
}

.voting-option {
  padding: 1rem;
  margin: 0.5rem 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  .buttons {
    text-align: right;
  }

  &.hot {
    background-color: $color-green-lightest;
  }
}
